@{
    ViewBag.Title = "Prod";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/prod.js")"></script>
}
@section Styles {
    <link href="@Url.Content("~/Styles/style-prod.css")" rel="stylesheet" type="text/css" />
}

<div id="cat" class="float-left col-12 col-md-2 btn-group-vertical">
    <button type="button" class="btn btn-light collapser" id="collapse0">Kategorie: ˄</button>
    <button type="button" class="btn btn-light collapser chide" id="collapse1">Rury ˄</button>
    <button type="button" class="btn btn-light collapser chide" id="collapse2">&emsp;PCV ˄</button>
    <button type="button" class="btn btn-light" id="collapse3">&emsp;&emsp;20 mm</button>
    <button type="button" class="btn btn-light" id="collapse3">&emsp;&emsp;50 mm</button>
    <button type="button" class="btn btn-light" id="collapse2">&emsp;Ceramiczne</button>
    <button type="button" class="btn btn-light" id="collapse1">Cegły</button>
</div>
<div class="float-right col-12 col-md-10">

    <div id="wrapper-small" class="w-100">
        <div id="xml-prod-up" class="float-left"><button type="button" class="btn btn-info float-right" id="upl">Wyślij</button><input class="float-right" type="file" name="file-up" id="file-up" accept=".xml"></div>

        <div id="wyszukiwanie" class="float-right"><button type="button" class="btn btn-info float-right" id="znajdz">Szukaj</button><input class="float-right" type="text" name="find" placeholder="Szukaj" id="find"></div>
    </div>

    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
    <div id="p1" class="float-left col-12 col-md-2 wrapper">
        <div class="produ">
            <img src="@Href("~/img/prod.jpg")" alt="Obraz"><br>Rura 20mm <br>
            <button type="button" class="btn btn-info">Kup</button>
        </div>
    </div>
</div>